@{
    ViewBag.Title = "Home";
}

<h3>THİS İS HOME :</h3>

    @Html.RouteLink("Click Here helloasdasdasdas","login")to logIn.
    <p><a href="@Url.RouteUrl("login")">Click Here</a>to LOGIN. (paragraf)</p>

