
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Simple Blog</title>
</head>
<body>
    <header>
        <h1>Simple Blog INO</h1>
    </header>
    @RenderBody()

    <footer>
        &copy;2018 
    </footer>
</body>
</html>
